
<!-- Full header for home page -->
{% if page.title == "Home" %}
    {% assign showFullHeader = true %}
{% endif %}

<!-- Title header for section pages -->
{% if page.title == "Projects"
   or page.title == "Experiments"
   or page.title == "Visualizations"
   or page.title == "Tags"   
%}{% assign showTitleHeader = true %}
{% endif %}

<!-- Define full header -->
{% if showFullHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
    </header>
{% endif %}

<!-- Define title header -->
{% if showTitleHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
    </header>
{% endif %}

{% include nav.html %}
